extends layout

block css
    link(rel="stylesheet", href="/stylesheets/mycourse.css")

block js
    script(src="/js/mycourse.js")

mixin courseList(collection)
    ul
        each item in collection
            li.course
                p.courseID= item[0]
                p.courseName= item[1]
                p.point= `${item[2]} 學分`
                p.score= `學期成績 ${item[3]}`

block content
    .doneCourse
        h2 我通過的課
        ul
            li 
                p= `共同必修 ${donePoint.common.p} 學分`
                ul
                    li
                        p= `中文 ${donePoint.common.chinese} 學分`
                        +courseList(doneCourse.common.chinese)
                    li
                        p= `英文 ${donePoint.common.english} 學分`
                        +courseList(doneCourse.common.english)
                    li
                        p= `其他 ${donePoint.common.other} 學分`
                        +courseList(doneCourse.common.other)
            li
                p= `核心通識 ${donePoint.cc} 學分`
                +courseList(doneCourse.cc)
            li
                p= `博雅通識 ${donePoint.by.p} 學分`
                ul
                    li
                        p= `人文科學 ${donePoint.by.li} 學分`
                        +courseList(doneCourse.by.li)
                    li
                        p= `自然科學 ${donePoint.by.sc} 學分`
                        +courseList(doneCourse.by.sc)
                    li
                        p= `社會科學 ${donePoint.by.so} 學分`
                        +courseList(doneCourse.by.so)
            li
                p= `系必修 ${donePoint.dept.compulsory} 學分`
                +courseList(doneCourse.dept.compulsory)
                if(doneCourse.dept.choose.length!==0)
                    p= `系選修 ${donePoint.dept.choose} 學分`
                    +courseList(doneCourse.dept.choose)
                if(doneCourse.rest.length!==0)
                    p= `其他 ${donePoint.rest} 學分`
                    +courseList(doneCourse.rest)

        p.totalPoint= `總共 ${donePoint.p} 學分`
        if(uncommitCourse.length!==0)
            h2 還沒送成績的課
            ul
                li.uncommit
                    +courseList(uncommitCourse)
        if(failedCourse.length!==0)
            h2 沒有通過的課
            ul
                li.failed
                    +courseList(failedCourse)